<!--  (c) Gerhard Döppert, 2017 -->

<h2>Temperatur {{data.title}} {{data.station}}</h2>

<div style="position:relative;width:100%;">
<canvas width="160" height="100"></canvas>

<svg width='100%' viewBox="0 -10 1600 978" version="1.1" xmlns="http://www.w3.org/2000/svg">

<g>
	 
	<polyline sel="test" *ngFor="let x of data.gridXPath" 
	   [attr.points]="x"
	  style="fill:none;stroke:black;stroke-width:1" />
	
	<polyline *ngFor="let y of data.gridYPath" 
  [attr.points]="y"
	  style="fill:none;stroke:black;stroke-width:1px" />
	
	<rect sel="link" class='button' *ngFor="let t of data.link; let i=index"
	   [attr.x]="data.x[i]" [attr.y]="data.tickXy-20"
	   [attr.width]="data.tickXwidth" [attr.height]="data.tickXheight*2"
	   (click)="link(t, 'down')" >
	</rect>
	
	<text  *ngFor="let tag of data.tickXTag; let i=index"
	   [attr.x]="data.tickXx[i]" [attr.y]="data.tickXy"
	   fill='black' font-size="12pt" >
	  {{tag}}
	</text>
	
	<text  *ngFor="let tag of data.tickYTag; let i=index"
	   [attr.x]="data.tickYx" [attr.y]="data.tickYy[i]+6"
	   fill='black' font-size="12pt" text-anchor="end">
	  {{tag}}°C
	</text>
	 
	 <g *ngFor="let value of data.values; let i=index">
	 
	<polyline [attr.points]="data[value]"
	  [style.fill]="'none'" [style.stroke]="data.cols[value]" [style.stroke-width]="3"/>

    <text [attr.x]='90+200*i' y='960' font-size='12pt' [attr.fill]='data.cols[value]'>{{data.werte[value]}}</text>        
	  	
	</g>
	        
    
   </g>
    
</svg>

</div>
<br/>

<button id="ttm" *ngIf="data.uplink" 
(click)="link(data.uplink, 'up')">{{parent}}</button>

<button  id="ttl"   class='dirbutton' *ngIf="data.prvlink"
(click)="link(data.prvlink, 'sibl')">&lt;</button>

<button   id="ttp"  class='dirbutton' *ngIf="data.nxtlink"
(click)="link(data.nxtlink, 'sibl')">&gt;</button>


	  
  