
rect.button {
	fill: #bbb;
}
rect.button:hover {
	fill: #ccc;
}


text {
	pointer-events: none;
}

button, select {
	font-size: 120%;
	height: 80px;
	min-width: 100px;
}
button.dirbutton {
	font-size: 24px;
}
