<!--  (c) Gerhard Döppert, 2018, GNU GPL 3 -->


    <br/>
    <table>
		<tr>
	  <td>Station: </td>
	  <td><select id='selS' (change) = "statChanged($event)" [(ngModel)]="statStr">
		<option *ngFor='let stat of stationListe.stats' [ngValue]="stat.id">{{stat.name}}</option>
		</select>
		</td>
		   <td> Jahr: </td><td><select id = 'selY' (change) = "updateYear($event)" [(ngModel)]="jahr">
		   <option *ngFor='let y of jahre' [ngValue]="y">{{y}}</option></select>		   
		   </td>
	  </tr>
	</table>
	<br/>    
	
	Die Rohdaten zu den deutschen Wetterstationen stammen vom Deutschen Wetterdienst (<a href='https://www.dwd.de'>DWD</a>). Die Aufbereitung
	erfolgt mit eigenen Algorithmen.

	Estaciones españolas: Información elaborada utilizando la obtenida de la Agencia Estatal de Meteorología (<a href='http://www.aemet.es'>AEMET</a>). 
	Stations françaises: Informations créées à partir de données de <a href='https://donneespubliques.meteofrance.fr/'>Météo-France</a>.

	<br>
    <br/>
    <h2>Auswertung von</h2>
  <table border='1px'>
    <thead>
    <tr>
      <th></th>
      <th>alles</th>
      <th *ngFor='let val of vals'>{{values[val].name}}</th>
      </tr>
     </thead>
	<tbody>
     
	<tr>
	  <td>Einstieg Jahr</td>
	  <td><button id='yl' class='menubutton' 
		 (click)="gotoValue(jahr, 'List', 'Jahr')">Liste</button></td>
	  
	  <td *ngFor='let val of vals'>
	     <button id='y{{values[val].id}}'  class='menubutton' 
			 				(click)="gotoValue(jahr, val, 'Jahr')">
	          <img src='assets/diagr_{{values[val].im}}.png'/>
	     </button>
	  </td>
	</tr>
	<tr>
	  <td>Umschalten nach</td>
	  <td><button id='sl' class='menubutton' (click)="gotoValue(time, 'List', per)">Liste</button></td>
	  <td *ngFor='let val of vals'>
	     <button id='s{{values[val].id}}' class='menubutton' 
			 			(click)="gotoValue(time, val, per)">
	            <img src='assets/diagr_{{values[val].im}}.png'/>
	     </button>
	  </td>
	</tr>
	<tr >
	  <td><button id='ta' class='menubutton' (click)="goAktuell()">Heute/Gestern</button></td>
	  <td><button id='tl' class='menubutton' (click)="gotoValue(0, 'List', 'Tag')">Liste</button></td>
  	  <td *ngFor='let val of vals'>
	     <button id='t{{values[val].id}}' class='menubutton'
			 			(click)="gotoValue(0, val, 'Tag')">
	            <img src='assets/diagr_{{values[val].im}}.png'/>
	     </button>
	  </td>
	</tr>
	</tbody>  	    
</table>
<br/>
<br/>
<button *ngIf="admin" (click)="update(links['templateUpdateLink'])" class='adminbutton'>update</button>
<button *ngIf="admin" (click)="update(links['templateHistoryLink'])" class='adminbutton'>import history</button>
<button class='menubutton' (click)="reload()" >Neu laden</button>
<div *ngIf="!admin" class='adminbutton'>Eingeschränkter Modus: Gast</div>

 

<br/>
<router-outlet ></router-outlet>

<br/>

<br/>
<br/>

<a href="/impressum.html">Impressum</a> &nbsp; <a href="/privacy.html">Datenschutz</a>