
button, select {
	font-size: 120%;
	height: 60px;
	min-width: 85px;
}
button.button-small {
	font-size: 120%;
	height: 30px;
	min-width: 85px;
}
button.dirbutton {
	font-size: 24px;
}

button.adminbutton {
	background: #ec462c;
	transition-duration: 0.2s;
}

button.adminbutton:hover {
	background: red;
}

rect.button {
	fill: #bbb;
}
rect.button:hover {
	fill: #ccc;
}

thead tr th {
	text-align: center;
}