
    <br/>
    <table>
		<tr>
	  <td>Station: </td>
	  <td><select  (change) = "statChanged($event)" [(ngModel)]="statStr">
		<option *ngFor='let stat of stationListe.stats' [ngValue]="stat.id">{{stat.name}}</option>
		</select>
		</td>
		   <td> Jahr: </td><td><select (change) = "updateYear($event)" [(ngModel)]="jahr">
		   <option *ngFor='let y of jahre' [ngValue]="y">{{y}}</option></select>		   
		   </td>
	  </tr>
	</table>
	<br/>    
	
	<b>Die Rohdaten zu den Wetterstationen stammen vom Deutschen Wetterdienst (<a href='https://www.dwd.de'>www.dwd.de</a>).</b> Die Aufbereitung
	erfolgt mit eigenen Algorithmen.
	<br>
    <br/>
    <h2>Auswertung von</h2>
  <table border='1px'>
    <thead>
    <tr>
      <th></th>
      <th>alles</th>
      <th *ngFor='let val of vals'>{{values[val].name}}</th>
      </tr>
     </thead>
	<tbody>
     
	<tr>
	  <td>Einstieg Jahr</td>
	  <td><button id='yl' (click)="goList(jahr, 'Monate')">Liste</button></td>
	  
	  <td *ngFor='let val of vals'>
	     <button id='y{{values[val].id}}' 
			 				(click)="goDP(jahr, val, 'Monate')">
	          <img src='assets/diagr_{{values[val].im}}.png'/>
	     </button>
	  </td>
	</tr>
	<tr>
	  <td>Umschalten nach</td>
	  <td><button id='sl' (click)="goList(time, per)">Liste</button></td>
	  <td *ngFor='let val of vals'>
	     <button id='s{{values[val].id}}' 
			 			(click)="goDP(this.time, val, per)">
	            <img src='assets/diagr_{{values[val].im}}.png'/>
	     </button>
	  </td>
	</tr>
	<tr >
	  <td><button id='tl' (click)="goAuswahl(0)">Heute/Gestern</button></td>
	  <td><button id='tl' (click)="goList(0, 'Tag')">Liste</button></td>
  	  <td *ngFor='let val of vals'>
	     <button id='t{{values[val].id}}' 
			 			(click)="goDP(0, val, 'Tag')">
	            <img src='assets/diagr_{{values[val].im}}.png'/>
	     </button>
	  </td>
	</tr>
	</tbody>  	    
</table>
<br/>
<br/>
<button *ngIf="admin" (click)="update()" class='adminbutton'>update</button>
<button *ngIf="admin" (click)="importHist()" class='adminbutton'>import history</button>
<div *ngIf="!admin" class='adminbutton'>Eingeschränkter Modus: Gast</div>

 

<br/>
<router-outlet ></router-outlet>

<br/>

<br/>
<br/>

<a href="/impressum.html">Impressum</a>