
button, select {
	font-size: 120%;
	height: 60px;
	min-width: 85px;
}
button.button-small {
	font-size: 120%;
	height: 30px;
	min-width: 85px;
}
button.dirbutton {
	font-size: 24px;
}

button.adminbutton {
	background: #eb5e48;
	transition-duration: 0.2s;
}

button.adminbutton:hover {
	background: red;
}

button.menubutton {
	background: #dbdbce;
	transition-duration: 0.1s;
}

button.active {
	background: #abffae;
	transition-duration: 0.1s;
}


button.menubutton:hover {
	background: #f0f0f0;
}


rect.button {
	fill: #dbdbce;
}
rect.button:hover {
	fill: #f0f0f0;;
}

thead tr th {
	text-align: center;
}