thead tr.wettertab {
  background-color: #ccc;
}

tbody tr.wettertab:nth-child(even) {
  background-color: #ddd;
}

tbody tr.wettertab:nth-child(pdd) {
  background-color: #eee;
}

tbody tr.wettertab td {
      text-align: right;
}


button, select {
	font-size: 120%;
	height: 50px;
	min-width: 60px;
}
button.dirbutton {
	font-size: 24px;
}

button.button-small {
	font-size: 120%;
	height: 30px;
	min-width: 100px;
}