<!--  (c) Gerhard Döppert, 2017 -->

<h2>Wetter {{title}}</h2>
<table border='1' ts-wrapper>
	<thead>
	  <tr class='wettertab'>
	  <th></th>
	  <th *ngFor="let colgrname of colgrname; let i=index" [attr.colspan]="colgrlen[i]">{{colgrname}}</th>
	  <th *ngIf="per != 'Tag'" >weiter</th>
	  </tr>
	  
	  
	  <tr class='wettertab'>
	    <th >{{name}}</th>
	    <th   *ngFor="let col of values" >{{werte[col]}}</th>
	    <th *ngIf="per != 'Tag'" >alles</th>
	  </tr>
	</thead>
	<tbody >	
	<tr  sel="test" class='wettertab' *ngFor="let wert of data.rows" ts-repeat>
	  <td >{{wert[index_name]}}</td>
	  <td class='tab' *ngFor="let col of values"   >{{wert[col]}}</td>
	  
	  <td *ngIf="per != 'Tag'" class='tab'><button (click)="link(wert.link,'down')"
	         class='button-small'>Liste</button></td>
	  
	  </tr>
	</tbody>  	    
</table>

<br/>

<button *ngIf="per == 'Monate'" (click)="downloadMonate()">CSV herunterladen</button>
<button *ngIf="per == 'Monat'" (click)="downloadMonat()">CSV herunterladen</button>
<button *ngIf="per == 'Tag'" (click)="downloadTag()">CSV herunterladen</button>

<button id="ttm" *ngIf="data.uplink" 
(click)="link(data.uplink, 'up')">Monat</button>

<button  id="ttl"   class='dirbutton' *ngIf="data.prvlink"
(click)="link(data.prvlink, 'sibl')">&lt;</button>

<button   id="ttp"  class='dirbutton' *ngIf="data.nxtlink"
(click)="link(data.nxtlink, 'sibl')">&gt;</button>

