
thead tr.wettertab {
  background-color: #ccc;
}

tbody tr.wettertab:nth-child(even) {
  background-color: #ddd;
}

tbody tr.wettertab:nth-child(pdd) {
  background-color: #eee;
}

tbody tr.wettertab td {
      text-align: right;
}